

.heading {
    color: #adff2f;
}

.img{
    height: 300px;
    width: 400px;
    border-radius: 5%;
}

.jumbotron-1 {
    background-color: #9acd32;
}

.img-2 {
    height: 100px;
    width: 110px;
    border-radius: 100px;
}
