@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=League+Gothic&family=Luckiest+Guy&display=swap');

/* BODY */
body {
    font-family: 'Lato', sans-serif;
    margin-bottom: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F3E9DD;
}

/* con-1 */
.container-1 {
    margin: 20px;
    padding: 15px;
    background-color: #B7CADB;
}

.container-1 a {
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
}

.container-1 p {
    text-align: right;
}

/* CON-2 */
.container-2 {
    margin: 20px;
    padding: 15px;
    background-color: #E2D784;
}

.container-2 .buttons button {
    background: linear-gradient(#FDF6EC,#DAB88B);
    border: 1px solid #0E185F;
    padding: 10px;
    margin: 5px;
    border-radius: 10%;
}

.container-2 .buttons button a {
    color: black;
}

.container-2 .buttons button a:hover {
    color: #0E185F;
}

.container-2 .buttons button:hover {
    background: linear-gradient(#DAB88B,#FDF6EC);
    color: #fff;
    border: #fff;
}


/* CON-3 */

.container-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 46%;
    justify-content: space-between;
}

.container-3 .aside {
    background-color: #B7CADB;
    padding: 50px;
    margin: 0 20px;
    color: #fff;
    flex: 2;
}

.container-3 .aside blockquote {
    display: flex;
    justify-content: center;
    color: #000;
}

.container-3 .box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 70%;
    color: #fff;
    flex: 6;
    
}

.container-3 .box .content .img-3a {
    margin: 0;
    padding: 0;
    width: 300px;
}

.container-3  .box div {
    border: 1px solid #fff;
    display: flex;
 
    text-align: center;
    justify-content: space-around;
}


.container-3  .box .content {
    background-color: #DAB88B;
    text-align: center;
    flex: 5;
}

.container-3 .content .h1-i {
    display: flex;
    flex-direction: column;
}

/* CON-4 */
.container-4 {
    margin: 20px;
    padding: 15px;
    background-color: #B7CADB;
}

.container-4 h1 {
    color: #fff;
}

/* CONTAINER-5 */
.container-5 {
    margin: 20px;
    padding: 15px;
    background-color: #DAB88B;
}

.container-5 .image {
    display: flex;
}

.container-5 h1 {
    color: #fff;
}

.container-5 .image .img {
    width: 300px;
    display: block;
    flex-wrap: wrap;
    margin: auto;
    border: 2px solid #0E185F;
    border-radius: 10px;
}

a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 20px;
}


/* CON-6 */
.container-6 {
    margin: 20px;
    padding: 15px;
    background-color: #B7CADB;
}